extends layout

block title
    h1(class="pageTitle") Add Song 
block content
    form(class="inputForm" action="/add-song" method="post")
        label Youtube link
        input(type="text")
        input(type="submit")
block navBottom
    a(href="/playlist") Cancel

