extends layout

block title
    h1(class="pageTitle") Edit Song
block content
    p= song.title 
    .voteWrap
        form(action="edit-song/upVote" method="post") 
            input(type="submit" value="Up vote")
        form(action="edit-song/downVote" method="post")
            input(type="submit" value="Down vote")

block navBottom
    .songActionWrap
        form(action="edit-song/play" method="post") 
            input(type="submit" value="Play")
        form(action="edit-song/skip" method="post")
            input(type="submit" value="Skip")
        form(action="edit-song/delete" method="post")
            input(type="submit" value="Delete")
    a(href="/playlist") Cancel
