doctype html
html(lang="en")
    head 
        title Music Sharing Playlist
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/assets/css/reset.css")
        link(rel="stylesheet" href="/assets/css/myStyle.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
    body
        .bWrap
            header 
                block title 
                nav
                    .navTopWrap 
                        block navTop
            .errorWrap
                if errorMessage
                    .flash.error
                        p= errorMessage
  
            main
                block content
            footer
                nav(class="navBottom")
                    block navBottom   
