doctype html
html(lang="en")
head 
    title Music Sharing Playlist
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/assets/css/reset.css")
header 
    block headerTitle 
body
    block content
    block navLinks
