extends layout

block headerTitle
    h1 Playlist 
block navLinks 
    a(href="users-roster") Users
    form(action="/playlist/sign-out" method="post")
        input(type="submit" value="Sign out")
block content
    a(href="edit-song") 
        div
            h6 Title 
            p Requested by: user 
            p Rating: 
        form(action="/playlist/add" method="post")
            input(type="submit" value="Add")
