extends layout

block title
    h1(class="pageTitle") Playlist 
block navTop 
    a(class="navLink" href="users-roster") Users
    form(class="buttonForm" action="/playlist/sign-out" method="post")
        input(type="submit" value="Sign out")
block content
    .playListWrap
        a(href="edit-song") 
            .songCard
                p Title:    
                p Requested by:
                p Rating: 
        a(href="edit-song") 
            .songCard
                p Title:    
                p Requested by:
                p  Rating: 
    form(class="buttonForm" action="/playlist/add" method="post")
        input(type="submit" value="Add")

