body{
    display:flex;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1rem;
    text-align: center;
}
.bWrap{
    display:flex;
    width: 90%;
    flex-direction: column;
    justify-content:center;
}
.navBottom{
    display:flex;
    width:50%;
    margin-top: 5rem;
    flex-direction:column;
    row-gap:1rem;
}
a{
    font-size:3rem;
    font-weight:500;
    text-decoration: none;
}
.appTitle{
    font-weight: 900;
    font-size: 10rem;
}
main{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
    row-gap: 2rem;
}
.playListWrap{
    display:flex;
    flex-direction:column;
    width:50%;
    row-gap: 1rem;    
}
.songCard{
    border: 1px solid #0680a8;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.navTopWrap{
    display:flex;
    width:50%;
    justify-content: space-between;
}
.inputForm{
    display:flex;
    flex-direction:column;
    width:fit-content;        
}   
.pageTitle{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
input{
    margin-bottom: 1rem;
}

p{
    font-size: 1.5rem;
    text-align: left;
}
nav{
    display:flex;
    justify-content: center;
}
.navLink{
    font-size: 1.5rem;
}
.songActionWrap{
    display:flex;
    justify-content:space-between;
}
.voteWrap{
    display:flex;
    justify-content:center;
    width:50%;
    column-gap: 1rem;
}
footer{
    display:flex;
    justify-content:center;
}
.errorWrap{
    margin-bottom: 1rem;
}
.flash{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    background-color: #ff000038;
    border: 1px dashed red;
    border-radius: 1rem;
}
